.sessions {
  margin: 10px;
  text-align: center;
  padding: 5px;
  background-color:#F8F8F8;
  border-radius: 4.20px;
}
.users{
  margin: 10px;
  text-align: center;
  padding: 5px;
  background-color:#F8F8F8;
  border-radius: 4.20px;
}
