<div class="container">
    <h1 class="jumbotron">Profile</h1>
    <div class="profile container">
    <div class="edit-btn"><a class="btn btn-default" type="button" ng-click='editProfile()'><span id="pencil" class="glyphicon glyphicon-pencil"></span></a></div>

      <div class="col-sm-3">
        <div><img src='{{profile.picture}}'></div>
        <div><h5>Name: </h5>{{profile.name }}</div>
        <div><h5>Contact Info: </h5>{{profile.contactEmail }}</div>
        <div><h5>Username: </h5>{{profile.username}}</div>
      </div>
      <div class="col-sm-3">
        <div><h5>My Instruments:</h5>
          <button class="btn-instruments" ng-repeat="instrument in profile.instruments">
            <span class="glyphicon glyphicon-fire"> {{ profile.instrument}}</span>
          </button>
        </div>
        <div><h5>Experience:</h5>
        {{profile.experience}}
        </div>
      </div>
      <div class="col-sm-3">
        <div><h5>My Bands:</h5>
          <div ng-repeat="band in profile.bands">
            {{profile.band}}
          </div>
        </div>
        <div><h5>My Friends:</h5>
          <div ng-repeat="friend in profile.friends">
            {{profile.friend}}
          </div>
        </div>
      </div>
      </div>

    </div>

