<div class="container">
  <h1 class ='jumbotron'>Sessions</h1>

  <div>
    <div class="sessions container" ng-repeat='session in sessions'>
      <div class='col-sm-4'>
        <div><h5>{{session.title}}</h5></div>
        <div>{{session.date}}</div>
        <div>{{session.area}}</div>
        <div><h5>Genres:</h5>
          <div ng-repeat="genre in session.genres">
            <em>{{genre}},</em>
          </div>
        </div>
      </div>
      <div class='col-sm-4'>
      <div><h5>Instruments Needed:</h5>
          <div ng-repeat="instrument in session.needInstruments">
            <em>{{instrument}}</em>
          </div>
        </div>
        <div><h5>Musicians: </h5>
          <div ng-repeat="participant in session.participants">
            <em>{{participant}}</em>
          </div>
        </div>
      </div>
      <div class='col-sm-4'>
        <div><h5>Where:</h5>
          <a href="http://www.stubbsaustin.com">{{session.location}}</a>
        </div>
          <h5>Description:</h5>
        <div>{{session.description}}</div>
        <a class="add btn" ng-click="joinSesh()">Join</a>
      </div>
    </div>
  </div>

</div>
<div ui-view></div>
