<div class="container">
  <h1 class="jumbotron">My Dashboard</h1>

  <div>
    <button type="button" class="btn btn-default" ng-click="createCollapsed = !createCollapsed">Create a Session</button>
    <div uib-collapse="createCollapsed">
      <p><div class="well well-lg">
        <div ui-view="create"></div>
      </div></p>
    </div>
  </div>
  <hr>
  <div class="my-sessions">
    <h1 class="jumbotron">My Sessions</h1>

    <div>
      <div class="sessions container" ng-repeat='session in sessions'>

        <div class='col-sm-3'>
          <div><b>{{session.title}}</b></div>
          <div>{{session.date}}</div>
          <div>{{session.area}}</div>
          <div><h5>Genres:</h5>
            <div ng-repeat="genre in session.genres">
              <em>{{genre}},</em>
            </div>
          </div>
        </div>

        <div class='col-sm-3'>
        <div><h5>Instruments Needed:</h5>
            <div ng-repeat="instrument in session.instrumentsNeeded">
              <em>{{instrument}}</em>
            </div>
          </div>
        </div>

        <div class='col-sm-3'>
          <div><h5>Where:</h5>
            <a href="http://www.stubbsaustin.com">{{session.location}}</a>
          </div>
            <h5>Description:</h5>
          <div>{{session.description}}</div>
        </div>
        <div class='col-sm-3'>
          <h5>Musicians:</h5>
          <div ng-repeat="musician in session.musicians">
            <em>{{musician}}</em>
          </div>

          <div>Edit this Session <span class="glyphicon glyphicon-pencil"></span></div>
        </div>
      </div>
    </div>

  </div>

</div>
