<div class="container">
  <div class='row'>

    <div class='col-sm-6'>
      <p>Name: <br>
      <input type='text' placeholder='Name' ng-model='name'></p>

      <p>Username: <br>
      <input type='text' placeholder='Username' ng-model='username'></p>
    </div>

    <div class='col-sm-6'>

      <p>Instruments: <br>
      <input type='text' placeholder='Instruments' ng-model='instruments'>
      <br>*Separate by Commas</p>

      <p>Bands: <br>
      <input type='text' placeholder='Band' ng-model='band'></p>

      <p><br><button ng-click='searchMusicians()'>Search</button></p>
    </div>

  </div>
</div>