<div class="container">
  <div class='row'>

    <div class='col-sm-4'>
      <p>Session Name:<br>
      <input type='text' placeholder='Session Name' ng-model='title'></p>

      <p>Genre:<br>
      <input type='text' placeholder='Genre' ng-model='genres'>
      <br>*Separate by Commas</p>

      <p><input type='checkbox' placeholder='Yes/No' ng-model='paid'> Paid</p>
    </div>

    <div class='col-sm-4'>
      <p>Experience:<br>
        <select ng-model='experience' ng-options="option.name for option in expOptions">
        </select></p>

      <p>Instruments:<br>
      <input type='text' placeholder='Instruments' ng-model='instruments'>
      <br>*Separate by Commas</p>
    </div>

    <div class='col-sm-4'>
      <p>City:<br>
      <input type='text' placeholder='City' ng-model='city'></p>

      <p><br><button ng-click='searchSessions()'>Search</button></p>
    </div>

  </div>
</div>