<div class="container">
<div class='row'>

  <div class='col-sm-3'>
    <p>Session Name:<br>
    <input type='text' placeholder='Session Name' ng-model='title'></p>

<!--     <p>Description:<br>
    <input type='text' placeholder='Description' ng-model='description'></p> -->

    <p>Genre:<br>
    <input type='text' placeholder='Genre' ng-model='genres'>
    <br>*Separate by Commas</p>
  </div>

  <div class='col-sm-3'>

    <p>Paid/Unpaid<br>
    <input type='number' placeholder='Yes/No' ng-model='answer'></p>

    <p>Experience:<br>
    <input type='text' placeholder='Experience' ng-model='experience'></p>

    <p>Instruments:<br>
    <input type='text' placeholder='Instruments' ng-model='instruments'>
    <br>*Separate by Commas</p>
  </div>

  <div class='col-sm-3'>
    <p>City:<br>
    <input type='text' placeholder='City' ng-model='city'></p>

    <p>Location:<br>
    <input type='text' placeholder='Location' ng-model='location'></p>
  </div>

  <div class='col-sm-3'>
<!--     <p>Date:<br>
    <input type='date' placeholder='Date' ng-model='date'></p>

    <p>Time:<br>
    <input type='time' placeholder='Time' ng-model='time'></p> -->

    <p><br><button ng-click='searchSessions()'>Search</button></p>
  </div>

</div>
</div>